<title>MLBB: Alpha Pack</title>
<%- include('./partials/sider.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/mobileresponsive.css">
 

<!--Screen Loader-->
<div id="preventTouching">
  <div class="loader">
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
    <div class="circle">
      <div class="dot"></div>
      <div class="outline"></div>
    </div>
  </div>
  <div class="alertText">DO NOT PRESS ANY BUTTON</div>
</div>
 <!-- modal  -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Player Verification</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="verify-err"> </div>

          <div class="info">
         <div class="vone">
            <label for="player-name">Player Name</label>
            <input type="text" value="" readonly id="mlbb-playername"> <br>
         </div>
         <div class="vtwo">
            <label for="player-id">Player Id</label>
            <input type="text" value="" readonly id="mlbb-playerid">
         </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="isVerify">Player Verified</div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="hero-container">
    <div class="last">
      <div class="screen-size">
        <i class="ri-fullscreen-fill fullScreen"></i>
        <i class="ri-fullscreen-exit-fill halfScreen"></i>
      </div>
        <div class="box">
          <div class="heading">Order Summary</div>
          <div class="check-out">
            <div class="price">
              <div class="clear"><i class="ri-close-line"></i> Clear</div>
              <div class="text">Choosed Plan: <span id="choosed">0</span></div>
              <div class="amt"><div class="sym">₹</div><div class="rs" id="rupee">0</div></div>
            </div>
          </div>

          <span id="warn">Enter details first, please</span>
          <span id="payErr">Please select your pack</span>

                <!-- input form  -->
        <div class="form-container" id="playerVerificationForm">
            <form method="post" action="/player-varification">
              <div class="mb-3">
                <label for="exampleInputEmail1">User ID <span></span></label>
                <input type="number" name="userid" placeholder="E.g. 123456789" maxlength="10"  id="exampleInputEmail1" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1">Server ID <span></span></label>
                <input type="number" name="serverid" placeholder="E.g. 4567" maxlength="5" id="exampleInputPassword1" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1">Email ID <span></span></label>
                <input type="email" name="email" placeholder="example@mail.com" id="inputEmail" required>
              </div>
              <!-- <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Selected Item<span></span></label>
                <input type="text" name="itemid" user-item="" class="form-control" id="productID" required readonly>
              </div> -->
              <!-- <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email <span>Enter your Email</span></label>
                <input type="email" name="email" placeholder="example@gmail.com" class="form-control" id="exampleInputPassword2" required>
              </div> -->
              
            </form>
  
           <!-- Quantity Counter -->
              <div class="counter">
                <!-- <span style="color: #000; padding-left: 8vw; font-size: 1.2vw; font-weight: 500; margin-left: 5.1vw; margin-left: -1vw;">Quantity</span> -->
                <span class="down" onClick='decreaseCount(event, this)'>-</span>
                <input type="text" value="1" id="quantityCounter" readonly>
                <span class="up" onClick='increaseCount(event, this)'>+</span>
              </div>
  
            <div class="buttons">
        
              <!-- <button type="" id="addtocart" class="btn">Add to Cart</button> -->
              <button data-bs-toggle="modal" data-bs-target="#exampleModal" id="rzp-button1" class="btn itemButtons">Verify</button>
              <button data-final=""  id="rzp-button2" class="btn itemButtons">Buy Now</button>
              <button data-final="" id="whatsappBtn" class="itemButtons">Buy Via Whatapp</button>
            
            </div>
          </div>


        </div>
    </div>

  <div class="first-part">
  <div class="ad-banner">
 <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false" space-between="30"
centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
<swiper-slide><img src="https://cdn.oneesports.gg/cdn-data/wp-content/uploads/2019/04/MLBB_Malaysia.jpg" alt=""></swiper-slide>
<swiper-slide><img src="https://i.ytimg.com/vi/hobpDrungfc/maxresdefault.jpg" alt=""></swiper-slide>
<swiper-slide><img src="https://gumlet.assettype.com/afkgaming%2F2023-06%2Fcfe5df3d-f7e2-4837-af15-62371590e1f6%2FMLBB_NEXT_2023_update.jpg?compress=true&dpr=1&format=webp&w=480" alt=""></swiper-slide>
</swiper-container>
        </div>

        <div class="products">
            <div class="heading" style="padding-bottom: 10px;">Mobile Legends: Alpha</div>
            <div class="list-products" style="overflow: auto;">
                <% let counter = 0; %>
              <% mobileLegendList.reverse().forEach((legend) => { %>
              <%  if (counter < 24){ %>
                  <div class="item-card" item_name="<%=legend.variation_name%>" item_id="<%=legend.variation_id%>"  data_price="<%= legend.variation_price %>" ><%=legend.variation_name%></div>
              <%    counter++;   %>
              <%  }; %>
                
                <% }); %>

            </div>
        </div>
    </div>
     
</div>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/657e7f4570c9f2407f80b1fc/1hhr22aqa';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/javascripts/payment.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/playerapi.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</body>
</html>